// =====================================================================================================================
// Position
// =====================================================================================================================

@mixin set-position($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin set-position-tl($top: 0, $left: 0) {
    @include set-position($top, auto, auto, $left);
}

@mixin set-position-tr($top: 0, $right: 0) {
    @include set-position($top, auto, $right, auto);
}

@mixin set-position-bl($bottom: 0, $left: 0) {
    @include set-position(auto, auto, $bottom, $left);
}

@mixin set-position-br($bottom: 0, $right: 0) {
    @include set-position(auto, $right, $bottom, auto);
}