// =====================================================================================================================
// Developer
// =====================================================================================================================
@import "../variables";
@import "../_bootstrap/mixins";

// Local Variables
$opacity: 0.3;

.dev {
    position: relative;

    &:after {
        color: #ecf0f1;
        display: inline-block;
        padding: 15px 20px;
        content: 'Default: #{map-get($grid-breakpoints, xs)} to #{map-get($grid-breakpoints, sm) - 1}';
        background: #f39c12;
        background: rgba(#f39c12, $opacity);
        border-top-left-radius: 5px;
        @include set-position-br();
        @include animate-ease-in-out();
        position: fixed;

        @include media-breakpoint-up(sm) {
            content: '$media-breakpoint-up(sm): #{map-get($grid-breakpoints, sm)}';
            background: #e74c3c;
            background: rgba(#e74c3c, $opacity);
        }

        @include media-breakpoint-up(md) {
            content: '$media-breakpoint-up(md): #{map-get($grid-breakpoints, md)}';
            background: #8e44ad;
            background: rgba(#8e44ad, $opacity);
        }

        @include media-breakpoint-up(lg) {
            content: '$media-breakpoint-up(lg): #{map-get($grid-breakpoints, lg)}';
            background: #2980b9;
            background: rgba(#2980b9, $opacity);
        }

        @include media-breakpoint-up(xl) {
            content: '$media-breakpoint-up(xl): #{map-get($grid-breakpoints, xl)}';
            background: #34495e;
            background: rgba(#34495e, $opacity);
        }
    }
}

.row [class^="col-"] {
    outline: 1px dashed $color-secondary;
}

.header, .content, .footer {

    &__container {
        outline: 1px dashed $color-secondary;
    }
}