
<section class="section hero">

</section>

<section class="section news">

  <h1>Latest posts</h1>

</section>

<section class="section projects">

  <h1>Work</h1>

  <project-search></project-search>

  <ul class="projects__wrapper">
    <li class="projects__item" *ngFor="let p of projects" >

      <article class="project">
        <h2 class="project__title">{{p.name}}</h2>
        <p class="project__desc">Description</p>
        <a class="project__cta" [routerLink]="['/projects', p.id]">View project</a>
      </article>

    </li>
  </ul>

</section>

<section class="page-section contact">

  <h1></h1>

  <form class="contact-form">

  </form>

</section>